
body{
  background-color: #ffffff;
  margin-bottom: 130px;
}
/*make mobile fonts resize  */
@media all and (max-width: 1200px) {
  /* screen size until 1200px */
  body {
    font-size: 1.5em;
    /* 1.5x default size */
  }
}

@media all and (max-width: 1000px) {
  /* screen size until 1000px */
  body {
    font-size: 1.2em;
    /* 1.2x default size */
  }
}

@media all and (max-width: 500px) {
  /* screen size until 500px */
  body {
    font-size: 0.5em;
    /* 0.8x default size */
  }
}


  /* Container restyle  */
  .container-fluid{
    padding: 0px
  }

  /* Remove negative margins from rows */
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9{
    padding: 0px;
  }
/* Top Navigation */

/* .navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display: inline-block;
  float: none;
} */

.navbar{
  margin-bottom: 0px;
  float: none;
}

.navbar-default .navbar-nav>li>a{
  color:#3293d0;
}
.navbar-nav{
  float: none;
}
.navbar-default{
  background-color:#ffffff;
   /* padding-left: 10%;  */
  /* font-size: 2em; */
  /* padding-bottom: 2em; */
  height: 3rem;
  float: none;
  padding: 1em;
  height: 5%;
  border-bottom-width: 2.5em;
  border-bottom-color: #3293d0;
}

.navbar-default li{

  padding-left: 1%;
  padding-top: .5rem;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form{
  border-color: #3293d0;
}
/*Hamburger menu customization  */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover{
  background-color: #ffffff;
  ;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #ffffff;
}
/* Splash Hero */

/* Image Responsivity  */

.splash-hero{
  /* height: 90em; */
   /* padding-bottom: 15em;  */
  min-height: 30%;
  min-width: 100%;
  background: url("../img/plp_bg_splash.png") no-repeat center center fixed; 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  /* padding-top: 20em; */
  /* object-fit: cover; */
  
}


/* About Page Splash */
.splash-hero-about{
    height: 80%;
     /* padding-bottom: 25em;  */
    min-height: 70%;
    background: url("../img/plp_bg_splash.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 1em;
    object-fit: cover;
}
#splash-logo{
  max-width: 100%; 
  max-height: 100%;
  padding-top: 1em;
  margin-bottom: 2em;
}

#rough {
  position: absolute;
  width: 20%; 
  margin-left: 1em;
  /* z-index: 1; */
}

#tumble {
  position: absolute;
  width: 28%;
  text-align: right;
  margin-left: 70%;
  z-index: 1;
}
/*Social Media Icons  */




/* Posts & description sections */
.posts,
.description {
  background: #3293d0;
  color: #fff;
  font-size: 3rem;
  padding: 1em 1em;
}

/* This margin is temporary, to create enough space below the section that you 
   can see the slanted edge. Remove it if/when there's actual content below. */
.description {
  margin-bottom: 200px;
}

/* Slanted Headers */

.slanted {
  position: relative;
  z-index: 1;
}

.slanted.after:after,
.slanted.before:before {  
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}

.slanted.before:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
}

.slanted.after:after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}

svg {
  width: 100%;
  height: auto;
  display: block;
}

polygon {
  min-width: 100% !important;
}

/* Background Image */
#party-bg{
  position: absolute;
  z-index: 1;
} 

/*Gallery  */
.gallery{
  padding-top: 10%;
  padding-bottom: 20%;
}
.thumbnail{
  margin-bottom: 0px;
  padding: 0px;
  border-radius: 0px;
  border: none;
}

/*Menu coloring  */

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: none;
  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: white;
  /*BACKGROUND color for active*/
  /* background-color: #3293d0; */
  z-index: 2;
}

/* .navbar-default {
  background-color: #3293d0;
  border-color: #3293d0;
   height: 10%; 
} */

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  background-color: #ffffff;
}

.dropdown .dropdown-menu {
  background-color: #3293d0;
    z-index: 2;
}
.navbar-collapse.in{
  background-color: #ffffff;
  position: relative;
  z-index: 10000;
}

.navbar-bottom {
  height: 8rem;
}

/* Contact Form  */


.well, lengend{
  background-color: #3293d0;
  color: #ffffff;
}

.info{
  margin: center;
  /* text-align: center; */
  border: 7px solid #FEE600;
  height: 10%;
  width: 60%; 
  padding: 1em;
  /* border-radius: 20px; */
  background-color: #3293d0;
  margin-bottom: 2em;
  margin-top: 0;
   font-size: 2em; 
  color: white;
}

.info p{
  display: inline;
}

/*Navbar Logo  */
.navbar-brand img {
  height: 80px;
  max-width: 100%; 
  /* padding-left: 10%;
  padding-right: 70%; */
  
}

.nav >li >a {
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 1em;
}
.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

/* Forms */
 label{
   font-size: 2em;
   margin-right: 1em;
   padding-bottom: 3em;
 }
.input-group-addon{
  background-color:#3293d0;
  color: #fff;
}
.form-control{
  color:#3293d0;
}


/*Single Event Page Styles  */

.event-photo-block{
  margin-bottom: 4em;
}

.event-info{
/* text-align: center; */

  padding-top: 2em; 
  padding-bottom: 2em;
  padding-left: 3em;
  margin-bottom: 3em;
/* border-radius: 20px; */

  background-color: #3293d0; 
  /* margin-bottom: 10em;
  margin-top: 10em; */
  font-size: 3em;
  color: white;
}

.event-single-desc p{
  font-size: 3em;
  color: #3293d0;
  padding-top: 1em;
  text-align: left;
  padding-left: 2em;
}
.container .event-single-desc{
  padding-left: 10px;
  text-align: left;
}
/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
  border-top-width: 2.5em;
  border-top-color: #3293d0;
  padding-bottom: 2em;
  font-size: 3em;
  color: #3293d0;
  background-color: #fff;
}

.social-icons {
  margin-top: 1.25em;
  padding-left: 14rem;
}

@media screen and (max-width: 500px) {
  .social-icons {
    font-size: 3rem;
    padding-left: 0;
    text-align: center;
  }
}

.social-icons ul {
  padding: 0;
}

.social-icons li {
  display: inline-block;
}

.social-icons li:not(:last-of-type) {
  padding-right: 1em;
}

.social-icons a {
  color: inherit;
}

h1{
  font-size: 1em;
}

/*event page  */
.img-wrapper{
  position: relative;
}

.event-photo {
  position: absolute;
  margin-bottom: 10em;
}